        /* untuk mengganti background */

        body {
            background: url("My Data/Matrix Binary.jpeg") no-repeat fixed;
            background-size: cover;
            font-family: 'Segoe UI';
        }

        /* untuk mengatur tinggi dan lebar topbar */

        #topbar {
            position: relative;
            width: 100%;
            height: 40px;
        }

        /* untuk memposisikannya di kanan */

        #topbar-right {
            position: absolute;
            top: 50px;
            right: 0;
        }

        /* untuk mengatur link element  */

        #topbar-right a {
            color: white;
            text-decoration: none;
            float: right;
            margin-top: 20px;
            margin-right: 10px;
            padding-right: 10px;
            font-size: 80%;
        }

        /* untuk memberikan efek underline ketika hover */

        #topbar-right a:hover {
            text-decoration: underline;
        }

        /* untuk mengatur gambar profilo */

        img#profile-logo {
            margin-right: -px;
            float: right;
        }

        /* untuk mengatur gambar mnu */

        img#menu-logo {
            margin-top: 10px;
            margin-right: 10px;
            float: right;
        }

        /* untuk mengatur posisi div */

        div#center {
            position: relative;
            margin: 0 auto;
            top: 100px;
            height: 107px;
        }

        /* untuk mengatur posisi gambar google */

        img[src="My Data/google.JPG"] {
            position: absolute;
            left: 38%;
        }

        /* untuk mengatur posisi div  */

        div#search {
            margin: 0 auto;
            position: relative;
            top: 120px;
            height: 37px;
        }

        /* untuk mengatur search bar */

        input[list="recent"] {
            outline: none;
            border-radius: 30px;
            position: absolute;
            left: 29%;
            border: none;
            padding-left: 28px;
            width: 451px;
            height: 35px;
        }

        /* untuk membersihkan float */

        .clear {
            clear: both;
        }

        /* untuk mengatur posisi div */

        #recent-website {
            margin: 0 auto;
            position: relative;
            top: 160px;
            left: 200px;
            width: 70%;
            height: 230px;
        }

        /* udemy section  */

        #udemy-logo {
            position: absolute;
            top: 1px;
            left: 50px;
        }

        #udemy-title {
            position: absolute;
            top: 60px;
            left: 43px;
        }


        /* youtube section */

        #youtube-logo {
            position: absolute;
            left: 150px;
            top: -5px;
        }

        #youtube-title {
            position: absolute;
            top: 60px;
            left: 167px;
        }


        /* youtube-right section */

        #youtube_right-logo {
            position: absolute;
            left: 250px;
            top: -5px;
        }

        #youtube_right-title {
            position: absolute;
            top: 60px;
            left: 267px;
        }


        /* gcr section */

        #gcr-logo {
            position: absolute;
            left: 350px;
        }

        #gcr-title {
            position: absolute;
            left: 355px;
            top: 60px;
        }


        /* whatsapp section */

        #whatsapp-logo {
            position: absolute;
            left: 45px;
            top: 110px;
        }

        #whatsapp-title {
            position: absolute;
            left: 50px;
            top: 175px;
        }


        /* codestars section */

        #codestars-logo {
            position: absolute;
            left: 78px;
            top: 55px;
        }

        #codestars-title {
            position: absolute;
            left: 160px;
            top: 175px;
        }


        /* w3schools section */

        #w3schools-logo {
            position: absolute;
            top: 110px;
            left: 254px;
        }

        #w3schools-title {
            position: absolute;
            left: 259px;
            top: 174px;
        }


        /* olx section */

        #olx-logo {
            position: absolute;
            top: 110px;
            left: 355px;
        }

        #olx-title {
            position: absolute;
            top: 174px;
            left: 373px;
        }



        /* untuk coloring dan resize font */

        #recent-website span {
            color: white;
            font-size: 80%;
        }
